body{
    background-image: url("https://t3.ftcdn.net/jpg/06/27/85/70/360_F_627857017_5r2FsJYJeZfufqiXcUvKCENF3fz4xFyg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.form{
    color: white;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
    width: 49%;
    height: 680px;
    padding: 30px 50px;
    justify-content: center;
    background-color: rgba(6, 6, 6, 0.5);
    margin: 30px 28%;
    box-shadow: inset -5px -5px -5px rgba(0, 0, 0, 0.5);
    filter: blur(0.1px);
}
.form h2{
    text-align: center;
    padding-bottom: 20px;
    color: rgb(239, 194, 13);
}
.form h3{
    text-align: left;
    color: bisque;
}
.form .i{
    font-size: x-small;
    text-align: left;
}
label{
    font-size: larger;
    font-weight: 600;
}
input.text{
    border-radius: 30px;
    border: 1px  solid white;
    width: 200px;
    height: 5%;
    background-color: transparent;
    color: white;
    font-size: small;
    padding-left: 10px;
}
.mail{
    border-radius: 30px;
    border: 1px  solid white;
    width: 490px;
    height: 5%;
    background-color: transparent;
    color: white;
    font-size: small;
    padding-left: 10px;
}
.gender{
    border-radius: 30px;
    border: 1px  solid white;
    width: 200px;
    height: 5%;
    background-color: transparent;
    color: white;
    font-size: small;
}
select option{
    background-color: black;
}
input.password{
    border-radius: 30px;
    border: 1px  solid white;
    width: 350px;
    height: 12%;
    background-color: transparent;
    color: white;
    font-size: large;
    padding-left: 10px;
}

button{
    margin-left:200px ;
    width: 200px;
    height:7%;
    border-radius: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover{
    background-color: burlywood;
}
.form .pass{
    color: white;
    margin-left: 220px;
}
.form a{
    color: white;
}
.form a:hover{
    color:skyblue;
}
.add{
    border-radius: 30px;
    border: 1px  solid white;
    width: 490px;
    height: 5%;
    background-color: transparent;
    color: white;
    font-size: small;
    padding-left: 10px;
}
.last{
    margin-left: 200px;
}

